{% extends 'base.html.twig' %}

{% block title %}Mon agence lorem{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Mon agence lorem</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio voluptas facere quos id laudantium aspernatur quo atque veniam temporibus alias inventore neque, eum adipisci maiores fugit perspiciatis iusto. Illo, laudantium?</p>
</div>
{% endblock %}
